<%= form_with(model: @task, local: true) do | form | %>
<div>
  <% if @task.errors.any? %>
  <P><%= @task.errors.count %>件のエラーがあります。</P>
  <ul>
    <% @task.errors.full_messages.each do | msg | %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div>
  <div class="input-group">
    <%= form.label :task_name  %>
    <%= form.text_field :task_name, class:"form-control" %>
  </div>
  <div class="input-group">
    <%= form.label :task_detail %>
    <%= form.text_field :task_detail, class:"form-control"  %>
  </div>
  <div class="input-group">
    <%= form.label :due %>
    <%= form.date_field :due, class:"form-control"  %>
  </div>
  <div class="input-group">
    <%= form.label :status %>
    <%= form.select :status, {"未着手": "未着手", "着手中": "着手中", "完了": "完了"}, {include_blank: true}, class:"form-control" %>
  </div>
  <div class="input-group">
    <%= form.label :priority %>
    <%= form.select :priority, {"高": "高", "中": "中", "低": "低"}, {include_blank: true}, class:"form-control" %>
  </div>
  <div,class="input-group">
    <% Sticker.all.each do |sticker| %>
    <%= form.check_box :sticker_ids, { multiple: true, checked: sticker[:checked], disabled: sticker[:disabled], include_hidden: false }, sticker[:id]%>
    <label><%= sticker.sticker_name %></label>
    <% end %>
  </div>

  <div class="margin-top">
    <%= form.submit class:"btn" %>
  </div>
  <div>
  </div>
</div>
<div class="margin-top">
  <%= link_to "タスク一覧", tasks_path, class: "btn-primary badge" %>
</div>
<% end %>
