<h1>タスク一覧</h1>
<div>
  <table border="1">
    <tr>
      <th>タスク名</th>
      <th>タスク詳細</th>
    </tr>
    <% @tasks.each do | task | %>
    <tr>
      <td><%= task.task_name %></td>
      <td><%= task.task_detail %></td>
      <td><%= link_to "削除", task_path(task.id), method: :delete, data: {confirm: "削除してもいいですか？" } %></td>
      <td><%= link_to "編集", edit_task_path(task.id), data: {confirm: "編集画面に行きますがよろしいでしょうか？" } %></td>
      <td><%= link_to "詳細", task_path(task.id) %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to "新規タスク登録へ", new_task_path %>
</div>
