<h1>タスク詳細</h1>
<div>
  <table border="1">
    <tr>
      <th><%= t("view.task_name") %></th>
      <th><%= t("view.task_detail") %></th>
      <th><%= t("view.created_at") %></th>
      <th><%= t("view.due") %></th>
      <th><%= t("view.status") %></th>
    </tr>
    <tr>
      <td><%= @task.task_name %></td>
      <td><%= @task.task_detail %></td>
      <td><%= @task.created_at.strftime("%Y年%m月%d日 %H時%M分%S秒") %></td>
      <td><%= @task.due.strftime("%Y年%m月%d日") %></td>
      <td><%= @task.status %></td>
    </tr>
  </table>
  <div>
    <%= link_to "タスク一覧へ", tasks_path %>
  </div>
</div>
