<!DOCTYPE html>
<html>
  <head>
    <title>課題</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
      <%= link_to "タスク一覧", tasks_path, class: "btn-primary badge" %>
        <% if current_user.admin? %>
      <%= link_to "ユーザー管理画面へ", admin_users_path, class: "btn-primary badge" %>
        <% end %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class:"btn-warning badge" %>
      <P ><%= current_user.name %></P>
      <td><%= link_to "マイ・ページ", user_path(current_user.id), class:" btn btn-primary" unless current_user.admin? %></td>
      <% else %>
      <%= link_to "ログイン", new_session_path, class: "btn-primary badge" %>
      <% end %>

    </header>
    <div>
    </div>
    <div class="container-body">
      <%= notice %>
      <%= yield %>
    </div>
  </body>
</html>
